<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public /css/main.css">
    <style>
        .navbar {
            background-color: #333;
            text-align: center; /* Center the content horizontally */
            padding: 10px 0;
        }

        .nav-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block; /* Display the list items in a single line */
        }

        .nav-item {
            display: inline;
            margin-right: 20px;
        }

        .nav-item:last-child {
            margin-right: 0;
        }

        .nav-item a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        .head1{
            background-color: rgb(89, 147, 89);
            margin-top: -15px;
        }
        h2{
            text-align: center;
            font-size:50px;
            padding-top: 30px;
            margin-bottom: 10px;
        }
        body {
            background-image: url(Ortho.jpeg);
            background-size: cover; 
            background-repeat: no-repeat; 
            

        }
    </style>
</head>
<body>
    <div class="head1">
        <h2>Home</h2>
        <img src="../public /images/bg1.jpg" alt="Logo" class="logo">
            <nav class="navbar">
                <ul class="nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
                <li class="nav-item"><a href="/projects">Projects</a></li>
                <li class="nav-item"><a href="/services">Services</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
            </ul>
      </nav>
    </div>
    
</body>
</html>