<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/project.css">
    
</head>
<body>
    <div class="logo">
        <img class="logo1" src="/images/bg1-removebg-preview.png">
    </div>
    <div class="head1">
        <h2>Home</h2>
            <nav class="navbar">
                <ul class="nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
                <li class="nav-item"><a href="/project">Projects</a></li>
                <li class="nav-item"><a href="/services">Services</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
            </ul>
      </nav>
    </div>

    <div class="section1">
        <h3>This is Section 1</h3>
    <p>Here is some content for Section 1.</p>
    </div>











    <script defer>

    </script>
    
</body>
</html>
