<!-- service.ejs file | Name: Nahom Araya, ID: 301180666, Date: Oct 2 2023 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/css/services.css">
    
</head>
<body>
    <div class="logo"><!-- Logo  -->
        <img class="logo1" src="/images/bg1-removebg-preview.png"><!-- Logo  -->
    </div>
    <div class="head1">
        <h2>Services</h2><!-- My header  -->
        <!-- Nav bars  -->
            <nav class="navbar">
                <ul class="nav-list">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
                <li class="nav-item"><a href="/project">Projects</a></li>
                <li class="nav-item"><a href="/services">Services</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
            </ul>
      </nav>
      
    </div>
    <!-- Section 2 where i explain one of my strenght, C# this time -->
    <div class="section1">
        <img class="cSharp" src="/images/csharp.jpeg">
        <br>
        <br>
        <h3 class="brief">C# Programming</h3>
        <!-- My statement and explaination on why it is  -->
    <p class="brief">
        I have a solid grasp of C# programming, allowing me to develop robust and 
        efficient applications. I am experienced in using the .NET framework to build 
        scalable and secure software solutions. My familiarity with ASP.NET will enable 
        me to adapt quickly to your development environment. As a student with a passion 
        for tackling complex problems, I am eager to apply my analytical and critical-thinking 
        skills to real-world projects. Lastly, I have a strong commitment to continuous learning 
        and staying updated with industry trends.
    </p>
    </div>
    <!-- Section 2 where i explain another of my strenght, Java this time -->
    <div class="section2">
        <img class="JavaPic" src="/images/Java.png">
        <br>
        <br>
        <h3 class="brief">Java Programming</h3>
        <!-- My statement and explaination on why it is  -->
    <p class="brief">
        I have a comprehensive understanding of Java programming. My experience encompasses Java SE 
        and Java EE, making me well-prepared to tackle various development challenges. I have hands-on 
        experience with Spring Boot, a framework I admire for its simplicity and efficiency. My proficiency 
        in developing RESTful APIs, managing dependencies, and optimizing application performance with Spring 
        Boot has been demonstrated through my previous projects. 
    </p>
    </div>
<!-- Section 3 where i explain another of my strenght, Web development this time -->
    <div class="section3">
        <img class="webPic" src="/images/web.png">
        <br>
        <br>
        <h3 class="title">Web Developing</h3>
        <!-- My statement and explaination on why it is  -->
    <p class="brief">
        I possess a deep understanding of JavaScript and its versatile applications in web development. 
        I have hands-on experience with Express.js and Node.js, leveraging these technologies to build 
        robust and scalable server-side applications. My ability to design RESTful APIs and handle data 
        efficiently aligns perfectly with the demands of modern web development. I have hands-on experience 
        with Express.js and Node.js, leveraging these technologies to build robust and scalable server-side applications.
    </p>
    </div>


    <script defer> </script>
    
</body>
</html>
